*{margin:0;padding:0;}
#root {
    margin: 0 auto;
    width: 1200px;
}
a {  text-decoration:none !important; outline: none; color: #000;}

/* header */
#header *{margin:0;padding:0;list-style-type:none;}
#header a{border:0;}
/* #header body{font:12px/180% Arial, Helvetica, sans-serif, "Times New Roman",Georgia,Serif;} */

/* header nav */
#header .nav{margin:28px auto 0 auto;height:40px;width:960px;}
#header .nav a{display:block;float:left;padding:9px 0px 9px;cursor:pointer;text-decoration:none;color:#2f3a46;display:block;width:117px;color:#2f3a46;text-align:center;font-size:16px;font-family:"微软雅黑";}
#header .nav a:hover{color:#82318E; text-decoration:none;}
#header .nav a.active{border-bottom: 1px solid #82318E;color: #82318E;}

/* content */
#content {font:16px/180% Arial, Helvetica, sans-serif, "Times New Roman",Georgia,Serif;margin-top: 20px;margin-left: 3px;}

/* content nav*/
#content .nav.nav-left {float: left; width: 10%; margin: 5px 10px;}
#content .nav.nav-left li a {text-align: center;}

/* content cont-right*/
#content .cont-right {float: left;width: 80%;margin: 5px 10px;margin-left: 20px;}



/* edit boostrap */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {background-color: #1890ff !important;}
