a,a:visited {
	text-decoration: none;
	color: #blue;
}
#header{
	background-color: #FFFFF;
}
#header_logo {
	margin-top: 0px;
	width: 300px;
}
.header_float{
	width: 200px;
	float: left;
}
.header_items {
	margin-top: 10px;
	width: 410px;
	text-align: center;
	float: left;
}
#search{
	margin-bottom: 10px;
	width: 1145px;
	background-color: #F3F3F3;
}
.search_item{
	float: left;
	width: 363px;
	height: 45;
	font-size: 20px;
}
#search_list{
	margin-left: 200px;
	margin-top: 50px;
	border: 1px solid #d2d2d2;
	border-top: 0px;
	position: absolute;
	background-color: #FFFFFF;
	display: none;
	cursor: pointer;
}
#search_list a{
	width: 120px;
	height: 45px;
	display: block;
	
	background-image: url(../img/search_index_icons.png);
	border-top: 1px solid #d2d2d2;
}
#google{
	background-position: 0px 52px;
}

#search_current{
	width: 120px;
	height: 45px;
	margin-top: 5px;
	float: right;
	background-image: url(../img/search_index_icons.png);
}
#search_ico_select{
	width: 15px;
	height: 25px;
	margin: 15px 13px;
	margin-bottom: 0px;
	background-image: url(../img/search_index_icons.png);
	background-position-x: 12px;
	background-position-y: 68px;
	display: block;
	cursor: pointer;
	float: right;
}
.search_logo{
	height:45px;
	margin: 5px 3px;
}
#search_txt{
	height: 45px;
	margin-top: 5px;
	width: 373px;
}
#search_btn{
	margin-top: 5px;
	width: 200px;
	background-color: #317EF3;
	color: #F8F8F8;
	height: 45px;
	font-size: 17px;
	letter-spacing: 10px;
}
#content{
	height: 480px;
}
#content fieldset {
	border: 1px solid #ccc;
	height: 480px;
	padding: 10px;
}
#content fieldset legend {
	margin-left: 20px;
	font-size: 15px;
}
.content_item{
	float: left;
	margin: 5px 10px;
	font-size: 13px;
}
.content_item div{
	height: 16px;
	display: inline-block;
	vertical-align:middle;
}
#content a:link{
	text-decoration: none;
}
#footer{
	padding: 5px 0px;
	text-align: center;
}